footer{
    padding: 0 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
}
footer .footer__logo{
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}